:root {
  --main: #ff004f;
}
body {
  background-color: white;
  color: black;
}
* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
#particle-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.container {
  display: flex;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  flex-direction: column;
  padding-top: 4px;
}
/* .container p {
    flex-direction 
  } */
.img {
  border: 10px solid;
  border-radius: 200px;
}
figcaption .me {
  color: whitesmoke;
  font-style: italic;
  font-family: cursive;
  font: bolder;
  font-size: 25px;
  color: white;
}
.me1 {
  font-size: 30px;
  color: red;
}
.me2 {
  font-size: 50px;
  color: var(--main);
}
.btn {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: red;
  background-color: #ff004f;
  color: whitesmoke;
  font-size: 25px;
  border-radius: 20px;
  transition: ease 0.9s;
}
.btn:hover {
  box-shadow: 3px 3px 3px 3px red;
  background-color: white;
  color: var(--main);
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #262626;
  margin-top: 2rem;
  color: #ff004f;
}
.sociallinks img {
  width: 60px;
  padding: 5px;
  transition: 1s;
  border: 1px solid white;
  border-radius: 1000px;
}
.sociallinks img:hover {
  transform: rotate(360deg);
}
.sociallinks {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}
.sociallinks a {
  background-color: #f5f6fa;
  border-radius: 50px;
}
.sociallinks a:hover {
  box-shadow: 1px 4px 2px 2px var(--main);
  transform: scale(1.2);
}

h1 span {
  color: var(--main);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 3px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  width: 398px;
  /* background-color: #000;
    color: #fff; */
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
